.info{
    background-image: url(../images/illustration-working.svg);
    background-repeat:no-repeat ;
    background-position:120% 50px;
    @include respond(phone){
        background-size: 130%;
        background-position:30px 0px;
    }
    .container{
        display: flex;
        align-items: center;
        .textpic{
            width: 50%;
            @include respond(phone){
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            @include respond(phone){
                width: 100%;
            }
            &__title{

                .title{
                    @include text(70px,700,#34313C);
                    line-height: 80px;
                    letter-spacing: -3px;
                    cursor:auto;
                    margin-top: 135px;
                    @include respond(phone){
                        @include text(40px,700,#34313C);
                        line-height: 40px;
                        letter-spacing: 0px;
                        text-align: center;
                        margin-top: 340px;
                    }
                }
            }
            &__subtitle{
                @include text(21px,500,$gray);
                margin-top: 10px;
                margin-bottom: 20px;
                @include respond(phone){
                    @include text(21px,500,$gray);
                    text-align: center;
                }
            }
            &__btn{
                @include buttons(40px,$oceanDark);
                width:180px;
                height: 51px;
                font-size: 19px;
                margin-top: 25px;
                margin-bottom: 77px;
                @include respond(phone){
                    text-align: center;
                    margin-bottom: 0;
                    // margin-left: 55px;
                }
            }
            &__btn:hover{
                background: $oceanLight;
            }
    
        }
    }
}